<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Insira dos Dados Corretamente
      </div>                
      <div class="panel-body">
        <div class="row">
          <%= form_with(model: team, local: true) do |form| %>
            <% if team.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

                <ul>
                <% team.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="col-lg-6">                                
              <div class="form-group">
                <%= form.label "Nome" %>
                <%= form.text_field :name, id: :team_name, class: "form-control", placeholder: "Insira o Nome" %>
              </div>                                
            </div> <!-- col-lg-6 -->
            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label "Responsável" %>
                <%= form.text_field :leader, id: :team_leader, class: "form-control", placeholder: "Insira o Responsável" %>
              </div>
            </div> <!-- col-lg-6 -->

            <div class="col-lg-12">
              <%= form.submit "Finalizar", class: "btn btn-default" %>
              <%= link_to 'Voltar', teams_path, class: "btn btn-default" %>
            </div>
          <% end %>
          <%#= link_to 'Voltar', churches_path, class: "btn btn-default" %>
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->