<%#<p id="notice"><%= notice </p>%>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listagem
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Responsável</center></th>
              <th><center>Ações</center></th>
            </tr>
          </thead>

          <tbody>
            <% @teams.each do |team| %>
              <tr>
                <td><%= team.name %></td>
                <td><center><%= team.leader %></center></td>
                <td>
                  <center>
                    <%= link_to 'Exibir', team %> |
                    <%= link_to 'Editar', edit_team_path(team) %> |
                    <%= link_to 'Excluir', team, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%#= link_to 'New Team', new_team_path %>

      </div><!-- /.panel-body -->      
    </div><!-- /.panel -->    
  </div><!-- /.col-lg-12 -->  
</div><!-- row -->