<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        Dados Completos <%#Outros Dados%>
      </div>                
      <div class="panel-body">
        <div class="row">
          <% if (notice) %>
            <div class="col-lg-12">
            	<div class="alert alert-success">
  				      <%= notice %>
            	</div>          	
            </div>
          <% end %>
          <div class="col-lg-12">
      			<p> <b>Responsável:</b> <%= @team.leader %> </p>

            <hr>

            <%= link_to 'Incrição', insert_member_path(@team.id), class: "btn btn-default" %>
            <%= link_to 'Ex-Membros', former_members_path, class: "btn btn-default" %>
            <%= link_to 'Editar', edit_team_path(@team), class: "btn btn-default" %>
      			<%= link_to 'Voltar', teams_path, class: "btn btn-default" %>
          </div> <!-- col-lg-12 -->
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-5 -->

    <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
          Membros da Equipe
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Telefone</center></th>
              <th><center>Ações</center></>
            </tr>
          </thead>

          <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.name %></td>
              <td><center><%= member.phone %></center></td>
              <td>
                <center>
                  <%#= link_to 'Show', member %>
                  <%#= link_to 'Edit', edit_member_path(member) %>
                  <%= link_to 'Desvincular', unsubscribe_member_path(params[:id], member.id_subscribe), method: :patch, data: { confirm: 'Are you sure?' } %>
                </center>
              </td-->
            </tr>
          <% end %>
        </tbody>
      </table>

        <br>

        <%#= link_to 'New Team', new_team_path %>

      </div><!-- /.panel-body -->      
    </div><!-- /.panel -->    
  </div><!-- /.col-lg-7 --> 
</div> <!-- row -->    