<div class="row">
	<% if (notice) %>
	    <div class="col-lg-12">
	      <div class="alert alert-success">
	        <%= notice %>
	      </div>            
	    </div>
  	<% end %>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-calendar fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							<%= @n_events %>
						</div>
						<div>Eventos</div>
					</div>
				</div>
			</div>
			<%= link_to icm_events_path do %>
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-child fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							<%= @n_members %>
						</div>
						<div>Membros</div>
					</div>
				</div>
			</div>
			<%= link_to members_path do %>
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-cog fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							<%= @n_teams %>
						</div>
						<div>Equipes</div>
					</div>
				</div>
			</div>
			<%= link_to teams_path do %>
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-building fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							<%= @n_churches %>
						</div>
						<div>Igrejas</div>
					</div>
				</div>
			</div>
			<%= link_to churches_path do %>
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<!-- /.row -->  