<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Insira dos Dados Corretamente
      </div>                
      <div class="panel-body">
        <div class="row">
          <%= form_with(model: icm_event, local: true) do |form| %>
            <% if icm_event.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(icm_event.errors.count, "error") %> prohibited this icm_event from being saved:</h2>

                <ul>
                <% icm_event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="col-lg-6">                                
              <div class="form-group">
                <%= form.label "Nome" %>
                <%= form.text_field :name, id: :icm_event_name, class: "form-control", placeholder: "Insira o Nome" %>
              </div>                                
            </div> <!-- col-lg-6 -->
            <div class="col-lg-6">                                
              <div class="form-group">
                <%= form.label "Descrição" %>
                <%= form.text_field :description, id: :icm_event_description, class: "form-control", placeholder: "Insira a Descrição" %>
              </div>                                
            </div> <!-- col-lg-6 -->


            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label "Data do Evento" %>
                <%= form.date_select :event_date, id: :icm_event_event_date, :order => [:day, :month, :year], start_year: 2018, :class => "form-control" %>
              </div>
            </div> <!-- col-lg-6 -->
            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label "Fechamento das Inscrições" %>
                <%= form.date_select(:limit_reg, id: :icm_event_limit_reg, :order => [:day, :month, :year], start_year: 2018, :class => "form-control") %>
              </div>
            </div> <!-- col-lg-6 -->

            <div class="col-lg-12">
              <%= form.submit "Finalizar", class: "btn btn-default" %>
              <%= link_to 'Voltar', icm_events_path, class: "btn btn-default" %>
            </div>
          <% end %>
          <%#= link_to 'Voltar', churches_path, class: "btn btn-default" %>
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->