<%#<p id="notice"><%= notice </p>%>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listagem
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Data do Evento</center></th>
              <th><center>Fechamento</center></th>
              <th><center>Ações</center></th>
            </tr>
          </thead>

          <tbody>
            <% @icm_events.each do |icm_event| %>
              <tr>
                <td><%= icm_event.name %></td>
                <td><center><%= icm_event.event_date %></center></td>
                <td><center><%= icm_event.limit_reg %></center></td>
                <td>
                  <center>
                    <%= link_to 'Exibir', icm_event %> | 
                    <%= link_to 'Editar', edit_icm_event_path(icm_event) %> |
                    <%= link_to 'Excluir', icm_event, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%#= link_to 'New User Type', new_user_type_path %>
      </div><!-- /.panel-body -->      
    </div><!-- /.panel -->    
  </div><!-- /.col-lg-12 -->  
</div><!-- row -->