<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Dados Completos <%#Outros Dados%>
      </div>                
      <div class="panel-body">
        <div class="row">
          <% if (notice) %>
            <div class="col-lg-12">
            	<div class="alert alert-success">
			      <%= notice %>
            	</div>          	
            </div>
          <% end %>
          <div class="col-lg-12">
			<p> <b>Descrição:</b> <%= @icm_event.description %> </p>
			<p> <b>Data do Evento:</b> <%= @icm_event.event_date %> </p>
			<p> <b>Fechamento:</b> <%= @icm_event.limit_reg %> </p>

			<hr>

			<%= link_to 'Edit', edit_icm_event_path(@icm_event), class: "btn btn-default" %>
			<%= link_to 'Back', icm_events_path, class: "btn btn-default" %>
          </div> <!-- col-lg-12 -->
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->    