<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Insira dos Dados Corretamente
      </div>                
      <div class="panel-body">
        <div class="row">
          <%= form_with(model: church, local: true) do |form| %>
            <% if church.errors.any? %>
              <div id="alert alert-danger alert-dismissable">
                <h2><%= pluralize(church.errors.count, "error") %> prohibited this church from being saved:</h2>

                <ul>
                <% church.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="col-lg-6">                                
              <div class="form-group">
                <%= form.label "Nome" %>
                <%= form.text_field :name, id: :church_name, class: "form-control", placeholder: "Insira o Nome" %>
              </div>                                
            </div> <!-- col-lg-6 -->
            <div class="col-lg-3">
              <div class="form-group">
                <%= form.label "Status" %>
                <%= form.text_field :c_type, id: :church_c_type, class: "form-control", placeholder: "Insira o Tipo" %>
              </div>
            </div> <!-- col-lg-3 -->
            <div class="col-lg-3">
              <div class="form-group">
                <%= form.label "Código" %>
                <%= form.text_field :code, id: :church_code, class: "form-control", placeholder: "Insira o Código" %>
              </div>
            </div> <!-- col-lg-3 -->

            <div class="col-lg-6">                                
              <div class="form-group">
                <%= form.label "Endereço" %>
                <%= form.text_field :address, id: :church_address, class: "form-control", placeholder: "Insira o Endereço" %>
              </div>                                
            </div> <!-- col-lg-6 -->
            <div class="col-lg-2">
              <div class="form-group">
                <%= form.label "Número" %>
                <%= form.text_field :number, id: :church_number, class: "form-control", placeholder: "Insira o Número" %>
              </div>
            </div> <!-- col-lg-2 -->
            <div class="col-lg-4">
              <div class="form-group">
                <%= form.label "Bairro" %>
                <%= form.text_field :district, id: :church_district, class: "form-control", placeholder: "Insira o Bairro" %>
              </div>
            </div> <!-- col-lg-4 -->

            <div class="col-lg-5">                                
              <div class="form-group">
                <%= form.label "Cidade" %>
                <%= form.text_field :city, id: :church_city, class: "form-control", placeholder: "Insira a Cidade" %>
              </div>                                
            </div> <!-- col-lg-5 -->
            <div class="col-lg-5">
              <div class="form-group">
                <%= form.label "Estado" %>
                <%= form.text_field :state, id: :church_state, class: "form-control", placeholder: "Insira o Estado" %>
              </div>
            </div> <!-- col-lg-5 -->
            <div class="col-lg-2">
              <div class="form-group">
                <%= form.label "CEP" %>
                <%= form.text_field :zip, id: :church_zip, class: "form-control", placeholder: "Insira o CEP" %>
              </div>
            </div> <!-- col-lg-2 -->

            <div class="col-lg-12">
              <%= form.submit "Finalizar", class: "btn btn-default" %>
              <%= link_to 'Voltar', churches_path, class: "btn btn-default" %>
            </div>
          <% end %>
          <%#= link_to 'Voltar', churches_path, class: "btn btn-default" %>
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->