<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listagem
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Status</center></th>
              <th><center>Cidade</center></th>
              <th><center>Estado</center></th>
              <th><center>Ações</center></th>
            </tr>
          </thead>

          <tbody>
            <% @churches.each do |church| %>
              <tr class="odd gradeX">
                <td><%= church.name %></td>
                <td><center><%= church.c_type %></center></td>
                <td><center><%= church.city %></center></td>
                <td><center><%= church.state %></enter></td>
                <td>
                  <center>
                    <%= link_to 'Exibir', church %> |
                    <%= link_to 'Editar', edit_church_path(church) %> | 
                    <%= link_to 'Excluir', church, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /.panel-body -->      
    </div><!-- /.panel -->    
  </div><!-- /.col-lg-12 -->  
</div><!-- row -->
<%#= link_to 'New Church', new_church_path %>