<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        Dados Completos <%#Outros Dados%>
      </div>                
      <div class="panel-body">
        <div class="row">
          <% if (notice) %>
            <div class="col-lg-12">
              <div class="alert alert-success">
                <%= notice %>
              </div>            
            </div>
          <% end %>
          <div class="col-lg-12">
            <p> <b> Código:  </b> <%= @church.code %> </p>
            <p> <b> Status:  </b> <%= @church.c_type %> </p>
            <p> <b> Endereço:</b> <%= @church.address %> </p>
            <p> <b> Número:  </b> <%= @church.number %> </p>
            <p> <b> Bairro:  </b> <%= @church.district %> </p>
            <p> <b> Cidade:  </b> <%= @church.city %> </p>
            <p> <b> Estado:  </b> <%= @church.state %> </p>
            <p> <b> CEP:     </b> <%= @church.zip %> </p>

            <hr>

            <%= link_to 'Editar', edit_church_path(@church), class: "btn btn-default" %>
            <%= link_to 'Voltar', churches_path, class: "btn btn-default" %>
          </div> <!-- col-lg-12 -->
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-5 -->

  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        Membros da Igreja
      </div> <!-- panel-heading -->
      <div class="panel-body">

        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Telefone</center></th>
              <!--th><center>Ações</center></-->
            </tr>
          </thead>

          <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.name_abv %></td>
              <td><center><%= member.phone %></center></td>
              <!--td>
                <center>
                  <%#= link_to 'Show', member %>
                  <%#= link_to 'Edit', edit_member_path(member) %>
                  <%#= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
                </center>
              </td-->
            </tr>
          <% end %>
        </tbody>
      </table>

      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-7 -->

</div> <!-- row -->    