<%#<p id="notice"><%= notice </p>%>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listagem
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Igreja</center></th>
              <th><center>Início</center></th>
              <th><center>Final</center></th>
            </tr>
          </thead>

          <tbody>
          <% @member_teams.each do |member_team| %>
            <tr>
              <td><%= member_team.member.name %></td>
              <td><center><%= member_team.member.church.name %></center></td>
              <td><center><%= member_team.date_start %></center></td>
              <td><center><%= member_team.date_finish %></center></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr>

      <%= link_to "Voltar", team_path(params[:id]), class: "btn btn-default" %>

      </div><!-- /.panel-body -->      
    </div><!-- /.panel -->    
  </div><!-- /.col-lg-12 -->  
</div><!-- row -->