<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Selecione o Membro
      </div>                
      <div class="panel-body">
        <div class="row">
          <% if (notice) %>
            <div class="col-lg-12">
              <div class="alert alert-danger alert-dismissable">
                <%= notice %>
              </div>            
            </div>
          <% end %>
          <%= form_for @member_team, url: insert_member_team_path, method: :post do |form|%>
            <div class="col-lg-4">
              <div class="form-group">
                <%= form.label "Membros sem equipe" %> <br/>
                <%= form.collection_select(:member_id, @members, :id, :name, class: "form-control") %>
              </div>
            </div> <!-- col-lg-4 -->
        </div> <!-- row -->
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <%= form.submit "Inserir", class: "btn btn-default" %>
            <%= link_to "Voltar", team_path(params[:id]), class: "btn btn-default" %>
          </div>
        </div>
          <% end %>
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->