<div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Esqueci Minha Senha</h3>
                  </div>
                  <div class="panel-body">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <div class="form-group">
					    <%= f.label :email %><br />
					    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
					  </div>

					  <div class="actions">
					    <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-success btn-block" %>
					  </div>
					<% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<%#= render "devise/shared/links" %>