<div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Login</h3>
                  </div>
                  <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: :form) do |f| %>
                      <fieldset>
                        <div class="form-group">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label "Senha" %><br />
                          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                        </div>
                      </fieldset>
                      <div class="actions">
                        <%= f.submit "Entrar", class: "btn btn-lg btn-success btn-block" %>
                      
                    <% end %>
                    
                    
                      <%= link_to "Esqueci Minha Senha", new_password_path(resource_name), class: "btn btn-lg btn-success btn-block" %>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%#= render "devise/shared/links" %>