<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Insira dos Dados Corretamente
      </div>                
      <div class="panel-body">
        <div class="row">
          <%= form_with(model: member, local: true) do |form| %>
            <% if member.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

                <ul>
                <% member.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="col-lg-6">                                
              <div class="form-group">
                <%= form.label "Nome" %>
                <%= form.text_field :name, id: :member_name, class: "form-control", placeholder: "Insira o Nome Completo" %>
              </div>                                
            </div> <!-- col-lg-6 -->
            <div class="col-lg-4">
              <div class="form-group">
                <%= form.label "Nome no Crachá" %>
                <%= form.text_field :name_abv, id: :member_name_abv, class: "form-control", placeholder: "Insira o Nome do Crachá" %>
              </div>
            </div> <!-- col-lg-4 -->
            <div class="col-lg-2">
              <div class="form-group">
                <%= form.label "Telefone" %>
                <%= form.text_field :phone, id: :member_phone, class: "form-control" %>
              </div>
            </div> <!-- col-lg-2 -->

            <div class="col-lg-4">                                
              <div class="form-group">
                <%= form.label "Data de Nascimento" %> <br/>
                <%= form.date_select :date_of_birth, id: :member_date_of_birth, :order => [:day, :month, :year], start_year: 1925 %>
              </div>                                
            </div> <!-- col-lg-4 -->
            <div class="col-lg-4">
              <div class="form-group">
                <%= form.label "Igreja" %> <br/>
                <%= form.collection_select(:church_id, @churches, :id, :name, class: "form-control") %>
              </div>
            </div> <!-- col-lg-4 -->
            <div class="col-lg-2">
              <div class="form-group">
                <%= form.label "Desativado?" %>
                <%= form.check_box :is_disable, id: :member_is_disable, class: "form-control" %>
              </div>
            </div> <!-- col-lg-2 -->

          <%#= link_to 'Voltar', churches_path, class: "btn btn-default" %>
        </div> <!-- row -->
        <div class="row">
          <div class="col-lg-12">
            <%= form.submit "Finalizar", class: "btn btn-default" %>
            <%= link_to 'Voltar', members_path, class: "btn btn-default" %>
          </div>
        </div>
        <% end %>
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->