<%#<p id="notice"><%= notice </p>%>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listagem
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nome</th>
              <th><center>Igreja</center></th>
              <th><center>Telefone</center></th>
              <th><center>Ações</center></th>
            </tr>
          </thead>

          <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.name_abv %></td>
              <td><center><%= member.church.name %></center></td>
              <td><center><%= member.phone %></center></td>
              <td>
                <center>
                  <%= link_to 'Exibir', member %> | 
                  <%= link_to 'Editar', edit_member_path(member) %> | 
                  <%= link_to 'Excluir', member, method: :delete, data: { confirm: 'Are you sure?' } %>
                </center>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div><!-- /.panel-body -->      
    </div><!-- /.panel -->    
  </div><!-- /.col-lg-12 -->  
</div><!-- row -->