<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Dados Completos <%#Outros Dados%>
      </div>                
      <div class="panel-body">
        <div class="row">
          <% if (notice) %>
            <div class="col-lg-12">
              <div class="alert alert-success">
                <%= notice %>
              </div>            
            </div>
          <% end %>
          <div class="col-lg-12">
            <p> <strong>Name no Crachá:</strong> <%= @member.name_abv %> </p>
            <p> <strong>Igreja:</strong> <%= @member.church.name %> </p>
            <p> <strong>Data de Nascimento:</strong> <%= @member.date_of_birth %></p>
            <p> <strong>Telefone:</strong> <%= @member.phone %> </p>
            <p>
                <strong>Desativado?:</strong>
                <% if(@member.is_disable)%>
                  Sim
                <% else %>
                  Não
                <% end %>
            </p>

            <hr>

            <%= link_to 'Editar', edit_member_path(@member), class: "btn btn-default" %>
            <%= link_to 'Voltar', members_path, class: "btn btn-default" %>
          </div> <!-- col-lg-12 -->
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  </div> <!-- col-lg-12 -->
</div> <!-- row -->    
